@import url('/css/variables.css');

/* hero start */

.hero {
    background: linear-gradient(180deg, var(--color-purple-light)0%, rgba(135, 132, 214, 0) 100%);
    padding: 158px 20px 0 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#sliderImage, #mainTitle, #subTitle {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
    position: relative;
}

.fade-out {
    animation: fadeOut 0.5s forwards;
}

.fade-in {
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-100px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


.hero_container > :last-child {
    background: url('../images/bgHero.jpg') center/cover no-repeat;
    border-radius: 70% 20px 20px 0;
}

.hero_container {
    display: flex;
    background: linear-gradient(to right, var(--color-purple-dark), #8451DA);
    border-radius: 20px !important;
    justify-content: space-between;
    overflow: hidden;
}

.hero_left-block h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 88px;
    line-height: 110%;
    text-transform: uppercase;
    color: var(--color-white);
    margin-bottom: 11px;
    max-width: 500px;
}

.hero_left-block h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    text-transform: uppercase;
    color: var(--color-white);
    margin-bottom: 36px;
    max-width: 500px;
}

.hero_left-block {
    padding: 60px 0 120px 54px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero_right-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.hero_button-container button {
    border: none;
    background: transparent;
}

.hero_button-container {
    padding: 20px 20px 0 0;
}

#sliderImage {
    width: 100%;
    padding: 0 20px;
    transition: transform 0.3s ease;
}

#sliderImage:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 1136px) {
    .hero_left-block h1 {
        font-size: 60px;
    }

    .hero_left-block h2 {
        font-size: 32px;
    }
}

@media screen and (max-width: 767px) {
    .hero_right-block {
        display: none;
    }

    #dotsContainer {
        position: relative;
        transform: translateX(0%)!important;
        display: flex;
        justify-content: center;
        
    }

    .dot, .dot.active {
        background-color: rgba(199, 199, 199, 1)!important;
    }

    #hero_link {
        font-size: 20px;
        max-width: 200px;
    }
}

@media screen and (max-width: 432px) {
    .hero_container  {
        background: url('../images/mobHeroBg.jpg') center/cover no-repeat;
        min-height: 425px;
    }

    .hero_left-block h1 {
        font-size: 36px;
    }

    .hero_left-block h2 {
        font-size: 16px;
    }

    .hero_left-block {
        padding: 50px 30px 20px 30px;
    }

    #dotsContainer {
        top: 0!important;
        width: 100%;
    }

    #hero_link {
        margin-top: 80px;
    }

    .hero_left-block {
        width: 100%;
    }

}

.hero_left-block a {
    max-width: 245px;
}

.dots_wrapper {
    margin-top: 50px;
}

.dot {
    display: inline-block;
    
    height: 5px;
    margin: 0 5px;
    
    border-radius: 20px;
    cursor: pointer;
    background-color: #8885D7;
    width: 20px;
}

#dotsContainer {
    position: relative;
    transform: translateX(100%);
    z-index: 12;
    top: 20%;
}

.dot.active {
    background-color: #462B74;
    width: 50px;
}


/* hero end */

/* tab start */

.tab {
    background: linear-gradient(180deg, var(--color-purple-dark) 0%, #8451DA 100%) no-repeat center center / cover;
    background-image: url('../images/bgtab2.jpg');
    min-height: 800px;
    padding: 116px 20px 0 20px;
    margin-top: -150px;
    clip-path: polygon(300px 80px, 370px 0, 100% 0, 100% 100%, 0 100%, 0 0, 300px 0);}

.tab::after {
    content: "";
    background-color: var(--color-pink);
    clip-path: polygon(50% 0%, 0 0, 50% 100%);
    position: absolute;
    top: 0;
}

.tab_top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 113px;
    gap: 100px;
}

.tab_top-container > :last-child {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
}

.tab_top-container > :last-child button {
    border: 2px solid var(--color-purple-super-light);
    border-radius: 16px;
    padding: 10px 24px;
    background-color: transparent;
    font-family: var(--third-family);
    font-weight: 500;
    font-size: 16px;
    color: var(--color-purple-super-light);
    transition: transform 0.3s ease; /* Добавляем плавный переход для трансформации */
}

.tab_top-container > :last-child button:hover {
    animation: wobble 0.5s; /* Добавляем анимацию покачивания при наведении */
}

@keyframes wobble {
    0%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-5deg);
    }
    75% {
        transform: rotate(5deg);
    }
}

.tab_title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 48px;
    line-height: 110%;
    text-transform: uppercase;
    color: var(--color-purple-super-light);
    margin-top: 17px;
}

.tab_center-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tab_center-container h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 80px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--color-white);
}

.tab_img-container {
    display: flex;
    gap: 50px;
    align-items: end;
}

.tab_img-container-top {
    display: flex;
}

.tab_img-container-top > :last-child {
    margin-left: -230px;
    margin-bottom: -100px;
}

.tab_img-container-bottom img {
    margin-bottom: -50px;
}

.activeTab {
    background-color: var(--color-purple-super-light)!important;
    color: var(--color-purple-dark)!important;
}

#bottom-img, #top-img-1, #top-img-2 {
    width: 100%;

}

#top-img-1 {
    max-width: 456px;
}

#top-img-2 {
    max-width: 436px;
}

.tab_title-container {
    margin-left: 50vw;
}

@media screen and (max-width: 767px) {
    .tab_title-container {
        margin-left: 0;
    }
}

@media screen and (max-width: 1198px) {
    .tab_img-container-top > :last-child {
        margin-left: -300px;
        margin-bottom: -100px;
    }

    .tab {
        padding-bottom: 150px;
    }

    .tab_img-container {
        gap: 0;
        justify-content: center;
        padding-top: 100px;
    }

    .tab_center-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: 0;
    }


    .tab_center-container h2 {
        font-size: 50px;
    }


}

@media screen and (max-width: 951px) {
    
    .tab_img-container-bottom {
        display: none;
    }

    .tab_top-container > :first-child {
        display: none;
    }
}

@media screen and (max-width: 526px) {

    #top-img-2 {
        display: none;
    }
    
}

/* tab end */

/* partners start */

.partners {
    
    z-index: 2;
    position: relative;
    overflow: hidden;

    /* background: url('../images/bgP.svg') top / contain no-repeat; */
 
}

.partners-radius {
    background: linear-gradient(2deg, #8784D6 -13.2%, #E0DFFF 71.57%);
    padding: 15px 20px 200px 20px;
    width: 2000px;
    border-radius: 0 0 100% 100%;
    position: relative;
    left: 50%; /* Сдвигаем элемент на 50% */
    transform: translateX(-50%);
}

@media screen and (max-width: 1040px) {
    .partners-radius {
        background: url('/images/bgP.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        max-width: 100%;
        border-radius: 0;
        position: static;
        left: 0;
        transform: translateX(0%);
        padding: 50px 20px 100px 20px;
        margin: 0 auto;
      
    }

    .partners {
        padding: 0!important;
    }
}

.partners_wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 50px;
    column-gap: 80px;

}

.grid_item-partner{
    background-color: var(--color-white);
    padding: 15px 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}



.custom-part {
    transition: transform 0.3s ease;
    padding-top: 25px;
    padding-bottom: 25px;
}



.partners_wrapper div:hover {
    transform: scale(1.1); /* Увеличиваем элемент на 10% при наведении */
}

.partners_heading-container:hover {
    transform: none!important; 
}

.partners_heading-container {
    background-color: var(--color-white)fff00!important;
}

.partners_heading-container::after {
    content: "Где купить";
    position: absolute;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 72px;
    line-height: 110%;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-white);
}

.partners_wrapper > :nth-child(1) {
    grid-column: span 6;
}

.partners_wrapper > :nth-child(2),
.partners_wrapper > :nth-child(3),
.partners_wrapper > :nth-child(4),
.partners_wrapper > :nth-child(5),
.partners_wrapper > :nth-child(6),
.partners_wrapper > :nth-child(7) {
    grid-column: span 2;
}

.partners_wrapper > :nth-child(8),
.partners_wrapper > :nth-child(9) {
    grid-column: span 3;
}

.partners_wrapper > :nth-child(9) {
    justify-self: start;
}

.partners_wrapper > :nth-child(5),
.partners_wrapper > :nth-child(7) {
    max-width: 80%;
}

.partners_wrapper > :nth-child(8),
.partners_wrapper > :nth-child(5) {
    justify-self: end;
}

.partners_block div img {
    width: 100%;
}

.partners_mob-title {
    display: none;
}


@media screen and (max-width: 1396px) {
    .partners {
        padding-bottom: 200px;
    }
}

@media screen and (max-width: 1256px) {
    .partners {
        padding-bottom: 250px;
    }
}

@media screen and (max-width: 1069px) {
    .partners_wrapper {
        border-radius: 16px;
        background: var(--color-white);
    }

    .partners_wrapper div {
        transform: rotate(0deg)!important;
        width: 100%;
    }
    
    .partners_wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        justify-self: start;
    }

    .partners_wrapper > * {
        width: 100%;
        justify-self: start!important;
    }

    .partners_wrapper div img {
        width: 100%;
    }

    .partners {
        padding: 15px 20px 130px 20px;
    }





    .partners_wrapper > :nth-child(8),
    .partners_wrapper > :nth-child(9) {
        grid-column: span 1;
    }
    
    .partners_wrapper > :nth-child(5),
    .partners_wrapper > :nth-child(7) {
        max-width: 100%;
    }
    
    .partners_wrapper > :nth-child(8),
    .partners_wrapper > :nth-child(5) {
        justify-self: start;
    }

    .partners_heading-container::after {
        display: none;
    }


    .partners_wrapper > :nth-child(1) {
        grid-column: span 2;
    }
    
    .partners_wrapper > :nth-child(2),
    .partners_wrapper > :nth-child(3),
    .partners_wrapper > :nth-child(4),
    .partners_wrapper > :nth-child(5),
    .partners_wrapper > :nth-child(6),
    .partners_wrapper > :nth-child(7) {
        grid-column: span 1;
    }

    .partners_wrapper > :nth-child(2) {
        display: block;
        grid-column: span 2;
    }

    .partners_wrapper {
        padding: 15px;
        gap: 10px;
    }
   
    .partners {
        padding-bottom: 70px;
    }

    .partners_mob-title {
        display: block;
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 36px;
        line-height: 110%;
        text-transform: uppercase;
        color: var(--color-purple-dark);
    }

    .partners_heading-container img {
        display: none;
    }

    .partners_wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        column-gap: 20px;
    }


    .partners_wrapper > :nth-child(1) {
        grid-column: span 2;
    }
    
    .partners_wrapper > :nth-child(2),
    .partners_wrapper > :nth-child(3),
    .partners_wrapper > :nth-child(4),
    .partners_wrapper > :nth-child(5),
    .partners_wrapper > :nth-child(6),
    .partners_wrapper > :nth-child(7) {
        grid-column: span 1;
    }

    .partners  {
        overflow: static;
    }
    
}

@media screen and (max-width: 767px) {

    .partners_wrapper > :nth-child(2) {
        display: block;
        grid-column: span 2;
    }

    .partners_wrapper {
        padding: 15px;
        gap: 10px;
    }
   
    .partners {
        padding-bottom: 70px;
    }

    .partners_mob-title {
        display: block;
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 36px;
        line-height: 110%;
        text-transform: uppercase;
        color: var(--color-purple-dark);
    }

    .partners_heading-container img {
        display: none;
    }

    .partners_wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        column-gap: 20px;
    }


    .partners_wrapper > :nth-child(1) {
        grid-column: span 2;
    }
    
    .partners_wrapper > :nth-child(2),
    .partners_wrapper > :nth-child(3),
    .partners_wrapper > :nth-child(4),
    .partners_wrapper > :nth-child(5),
    .partners_wrapper > :nth-child(6),
    .partners_wrapper > :nth-child(7) {
        grid-column: span 1;
    }
    
    .partners_wrapper > :nth-child(8),
    .partners_wrapper > :nth-child(9) {
        grid-column: span 1;
    }
    
    .partners_wrapper > :nth-child(5),
    .partners_wrapper > :nth-child(7) {
        max-width: 100%;
    }
    
    .partners_wrapper > :nth-child(8),
    .partners_wrapper > :nth-child(5) {
        justify-self: start;
    }

    .partners_heading-container::after {
        display: none;
    }

   
}

.slider_title-container {
    margin-right: 200px;
}

/* partners end */

/* message start */

.message {
    background: linear-gradient(360deg, #9997d0 0%, rgba(135, 132, 214, 0) 100%);    margin-top: -300px;
    z-index: 1;
    padding: 385px 20px 468px 20px;
}

.message_heading {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 60px;
    line-height: 110%;
    text-transform: uppercase;
    background: linear-gradient(180deg, var(--color-purple-dark) 0%, #8784d6 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 833px) {
    .message {
        padding: 385px 20px 668px 20px;
    }
}

/* message end */


/* stores start */


.swiper-button-next, .swiper-button-prev {
    color: var(--color-white)!important;
}

.swiper-container {
    width: 100%;
    height: 100%;
    overflow: hidden; /* Скрыть слайды за пределами контейнера */
}

.swiper-slide-3 {
    width: auto; /* Убедитесь, что ширина слайдов установлена корректно */
    display: flex!important;
    padding: 20px 24px;
    justify-content: center;
    
}

.swiper-wrapper {
    display: flex;
}

.swiper-button-prev, .swiper-button-next {
    color: #000;
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    max-width: 80%;
    overflow: hidden;
    padding: 15px 50px 110px 50px;
}

.popup.active, .popup-overlay.active {
    display: block;
}
 


.close-Container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 62px;
}

.popup_item img {
    width: 100%;
    border-radius: 12px;
    max-height: 85vh;
}

.stores {
    padding: 0 20px 380px 20px;
    margin-top: 1050px;
    background: linear-gradient(360deg, var(--color-pink) 0%, rgba(233, 76, 40, 0) 100%);
}

.story_container {
    max-width: 270px;
    min-height: 440px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.story_container-one {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), 
                url('../images/story1.jpg') no-repeat center center / cover;
}

.story_container-two {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), 
                url('../images/story2.jpg') no-repeat center center / cover;
    position: relative;
    bottom: 82px;
}

.story_container-three {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), 
                url('../images/story3.jpg') no-repeat center center / cover;
}

.story_block-top {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.story_block-top hr {
    transform: rotate(90deg);
    height: 30px;
    width: 2px;
    border-radius: 1px;
}

.story_block-bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.story_block-bottom > :first-child h4 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--color-white);
}

.story_block-bottom > :last-child {
    display: flex;
    gap: 7px;
    align-items: center;
}

.story_block-bottom > :last-child p {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 19px;
    line-height: 130%;
    color: var(--color-white);
}

.stores_bottom {
    display: flex;
    justify-content: space-around;
}

.story_title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--color-pink);
    display: inline-block;
    margin-left: -57px;
    transform: rotate(90deg);
}


@media screen and (max-width: 896px) {
    .story_container-two {
        position: relative;
        bottom: 0px;
    }

    .stores_bottom {
        gap: 44px;
    }

    .stores {
        padding: 0 20px 250px 20px;
    }

    .popup {
        padding: 15px 50px 50px 50px;
    }

    .close-Container {
        margin-bottom: 0px;
    }

    .story_title {
        display: none;
    }

    .stores_wrapper {
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .stores_wrapper::-webkit-scrollbar {
        display: none;  /* Safari and Chrome */
    }
}

.popup_wrapper {
    max-width: 450px;
}

.custom-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.custom-popup-content {
    background: transparent;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}

.video-container {
    max-width: 80%;
    height: 80%;
}

.flex-video {
    display: flex;
    justify-content: center;
}

.custom-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

@media screen and (max-width: 1043px) {
    .stores {
        margin-top: 1100px;
    }
}

@media screen and (max-width: 992px) {
    .stores {
        margin-top: 1000px;
    }
}

@media screen and (max-width: 767px) {
    .stores {
        margin-top: 2000px;
    }
}

@media screen and (max-width: 699px) {
    .stores {
        margin-top: 1900px;
    }
}

@media screen and (max-width: 653px) {
    .stores {
        margin-top: 1800px;
    }
}

@media screen and (max-width: 600px) {
    .stores {
        margin-top: 1700px;
    }
}

@media screen and (max-width: 538px) {
    .stores {
        margin-top: 1600px;
    }
}

@media screen and (max-width: 545px) {
    .stores {
        margin-top: 1550px;
    }
}

@media screen and (max-width: 490px) {
    .stores {
        margin-top: 1550px;
    }
}



video {
    width: 100%;
    height: auto;
    max-height: 100%;
    border-radius: 20px;
  }

/* stores end */


/* slider start */

.slide-content > :first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.slide-content > :last-child  {
    max-width: 382px;
}

.swiper-wrapper_left {
    position: relative;
    right: 130px;
    display: flex;
    align-items: center;
}

.my-swiper-container-1 {
    width: 100%;
    height: 100%;
}
.my-swiper-slide {
    background-color: #8784d6;
    transition: transform 0.3s ease;
    border-radius: 20px;
    padding: 30px 30px 50px 30px;
}

.my-swiper-slide-active {
    background: #462b74;
    transform: scale(1.2);
    border-radius: 20px;
    min-height: 300px;
    padding: 30px;
    
}
.my-swiper-slide-next, .my-swiper-slide-prev {
    transform: scale(0.8); /* Уменьшение соседних слайдов */
}

.swiper-wrapper-my {
    display: flex;
}

.slider_top {
    display: flex;
    align-items: center;
    gap: 50px;
}

.slider {
    margin-top: 58px;
    overflow: hidden;
}

.slider_wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
}

.slider_title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 80px;
    line-height: 100%;
    text-transform: uppercase;
    background: linear-gradient(180deg, var(--color-purple-dark) 0%, #8784d6 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 1218px) {
    .slider_title  {
        font-size: 60px;
    }
}

@media screen and (max-width: 1145px) {
    .slider_title  {
        font-size: 40px;
    }
}

@media screen and (max-width: 1074px) {
    .slider_wrapper {
        flex-direction: column;
        gap: 40px;
    }

    .slider_title br {
        display: none;
    }

    .swiper-wrapper_left {
        position: relative;
        right: 0px;
    }
}

@media screen and (max-width: 1145px) {
    .slider_title  {
        font-size: 40px;
    }
}

@media screen and (max-width: 1042px) {
    .swiper-wrapper_left {
        flex-direction: column;
        gap: 20px;
    }

    .my-swiper-slide  {
        background-color: var(--color-purple-dark);
        
    }

    .slider_wrapper {
        align-items: flex-start;
    }
}



/* slider end */







.message-flex {
    display: flex;
    justify-content: center;
}

.message-flex-bet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.message-flex div img {
    width: 100%;
    transition: scale 0.3s ease;
}

.message-flex div img:hover {
    scale: 1.05;
}

.message_wrapper {
    padding: 0 20px;
}

.mes-img-hov img:hover {
    transform: scale();
}

.mes-img img {
    width: 100%;
    transition: scale 0.3s ease;
}

.mes-img img:hover {
    scale: 1.05;
}

#dotsContainer2 {
    bottom: 40px;
    position: relative;
}

@media screen and (max-width: 919px) {
    .message-logo2 {
        display: none;
    }

    .message-flex-bet {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}

.hero1 {
    background: url('../images/herotestbg.svg')     top/contain no-repeat;
    min-height: 504px;
}

.hero_button-container {
    display: flex;
    justify-content: flex-end;
}

.hero_left-block {
    padding-top: 0;
}

#dotsContainer {
    position: relative;
    transform: translateX(0%);
    z-index: 12;
    top: 20%;
}

#subTitle2 {
    max-width: 300px;
}

@media screen and (max-width: 1146px) {
    #dotsContainer2 {
        bottom: 40px;
    }
}

@media screen and (max-width: 1050px) {
    #dotsContainer2 {
        bottom: 70px;
    }

    #subTitle {
        max-width: 350px;
    }

    .hero_left-block h2 {
        margin-bottom: 30px;
    }

    
}

@media screen and (max-width: 977px) {
    .hero_left-block h1 {
        font-size: 50px;
    }

    .slider {
        margin-top: -50px;
    }

    .hero_left-block h2 {
        font-size: 22px;
    }

    #dotsContainer2 {
        bottom: 120px;
    }
}

@media screen and (max-width: 881px) {
    #dotsContainer2 {
        bottom: 150px;
    }
}

@media screen and (max-width: 856px) {
    .slider {
        margin-top: -90px;
    }
}

@media screen and (max-width: 802px) {
    #subTitle {
        max-width: 320px;
    }

    #dotsContainer2 {
        bottom: 180px;
    }

    #hero_link {
        font-size: 18px;
        padding: 8px 33px;
    }

    
}

.hero_container {
    display: none;
}


@media screen and (max-width: 767px) {
    .hero1 {
        display: none;
    }

    #dotsContainer2 {
        display: none;
    }

    .hero_container {
        display: block;
    }

    .slider {
        margin-top: 40px;
    }

    #dotsContainer {
        bottom: 0px;
    }



    .hero_left-block {
        padding: 60px 60px 20px 54px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #hero_link {
        margin-bottom: 30px;
    }
}

.message_button-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    align-items: center;
}






.sli-cont {
    display: flex;
    position: relative;
    
}

.sli-cont img {
    margin-right: 20px;
}

#sli2, #sli3 {
    opacity: 0.5;
}


.sli-cont img {
    transition: opacity 1.2s ease, transform 0.8s ease, height 1.2s ease;
}

/* img.fade-left {
    opacity: 1;
    transform: translateX(-117%) scale(1.22);
} */

.sli5 {
    display: none;
}

@media screen and (max-width: 767px) {
    .sli-cont {
        flex-direction: column;
        gap: 20px;
    }

    .sli-cont img {
        width: 100%;
    }

    .sli-cont > :nth-child(2) {
        height: auto;
        opacity: 1;
        margin-top: 0px;
        transform: rotateY('180deg');
        
    }

    #sli1, #sli2, #sli3{
        display: none;
    }

    .sli5 {
        display: block;
    }
    
}



.fade-left2 {
    animation: fadeLeft 0.5s forwards;
}

@keyframes fadeLeft {
    from {
        opacity: 0;
        transform: translateX(-900px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


.clos-cont {
    display: flex;
    justify-content: flex-end;
    margin-top: 100px;
}

.clos-cont button {
    border-radius: 50%;
    border: none;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(70, 43, 116, 1);
}

@media screen and (max-width: 768px) {
    .swiper-button-next,
    .swiper-button-prev {
        display: none!important;
    }

    .popup {
        padding: 15px 0px 50px 0px;
    }
}

