@import url('/css/variables.css');

.hero_recipes {
    /* background: linear-gradient(180deg, #8784D6 30.37%, rgba(135, 132, 214, 0.00) 94.21%); */
    background: #8784D6;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 158px 0px 0 0px;
}

.hero_recipes_wrapper video {
    width: 100%;
    max-height: 534px;
    object-fit: cover;
    border-radius: 20px;
}

.hero_recipes .play-pause-btn {
    position: absolute;
    top: 55%;
    z-index: 5;
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.play-pause-btn-container {
    display: flex;
    justify-content: center;
}

#background-video:hover + .play-pause-btn-container .play-pause-btn img {
    display: block;
}


/* useful start */

.useful {
    padding: 150px 20px 0 20px;
    margin-top: 450px;
    background: linear-gradient(180deg, #8784D6 30.37%, rgba(135, 132, 214, 0.00) 94.21%);
}

.useful_wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.useful_wrapper > :first-child {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.useful_wrapper > :last-child {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.useful_item {
    border-radius: 20px;
    background: linear-gradient(180deg, #462B74 0%, #462B74 0%, #8451DA 100%);

}

.useful_item-bg {
    min-height: 200px;
    border-radius: 20px 20px 0 0;   
}

.useful_item-bg1 {
    background: url(../images/useful_item-bg1.jpg) no-repeat center center / cover;
}

.useful_item-bg2 {
    background: url(../images/useful_item-bg2.jpg) no-repeat center center / cover;
}

.useful_item-bg3 {
    background: url(../images/useful_item-bg3.jpg) no-repeat center center / cover;
}

.useful_item-text {
    color: #FFF;
    font-family: var(--third-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 14px;
}

.useful_item-time_container p {
    font-size: 14px!important;
    margin-bottom: 0;
}

.cards-container .cards-time:nth-child(2n) {
    background: linear-gradient(180deg, #462b74 0%, #8451da 100%);
}

.useful_item > :last-child {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
}

.useful_item-time_container {
    display: flex;
    gap: 13px;
    align-items: center;
}

.useful_item > :last-child {
    padding: 20px;
    height: auto;
}

.useful-img1 {
    max-width: 100%;
}

/* useful end */

/* recipes_filters start */

.recipes_filters {
    background: #E0DFFF;
    z-index: 999;
    padding: 44px 20px 450px 20px;
}


.filters {
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

.custom-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    padding: 10px;
}

.dropdown-content-2 {
    display: none;
}

.custom-dropdown:hover .dropdown-content-2 {
    display: block;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 55px;
}

.cards-time {
    border-radius: 16px;
    background: linear-gradient(180deg, #FFF 0%, #EA526F 77.5%);
}

.card-img img {
    object-fit: cover;
    width: 100%;
    border-radius: 16px 16px 0 0 ;
}

.card > :nth-child(2) {
    padding: 25px;
}

.dropdown-button {
    display: flex;
    align-items: center;
    gap: 61px;
    background-color: transparent;
    border-radius: 12px;
    border: 2px solid #462B74;
    padding: 10px 16px;
    margin-bottom: 15px;
}

.dropdown-button:hover {
    margin-bottom: 0;
}

.dropdown-button p {
    color: #462B74;
    font-family: var(--third-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.filterButton {
    display: flex;
    padding: 10px 16px;
    align-items: center;
    gap: 24px;
    border-radius: 12px;
    background: #462B74;
    border: none;
    color: #FFF;
    font-family: var(--third-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 15px;
}

.resetButton {
    background-color: transparent;
    border: none;
    display: flex;
    gap: 20px;
    align-items: center;
    color: #462B74;
    font-family: var(--third-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 15px;
}

.dropdown-content {
    border-radius: 16px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
}

.dropdown-content-2 {
    margin-top: 15px;
}

.dropdown-content label {
    color: #454545;
    font-family: var(--third-family);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    display: flex;
    align-items: center;
    gap: 8px;
}


.dropdown-content label input {
    margin: 0!important;
}

.load-more-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.load-more-container button {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}


/* recipes_filters end */


@media screen and (max-width: 1025px) {
    .useful_wrapper {
        flex-direction: column;
    }

    .useful_wrapper > :last-child  {
        align-items: flex-end;
    }


    .useful-img1 {
        max-width: 70%;
    }
}

@media screen and (max-width: 856px) {
    
    .useful {
        margin-top: 400px;
    }
}

@media screen and (max-width: 833px) {
    .recipes_filters {
        padding: 44px 20px 650px 20px;
    }
}

@media screen and (max-width: 799px) {
    .useful {
        margin-top: 350px;
    }
}

.swiper-container {
    display: none;
}

.filters_mob {
    display: none;
}

@media screen and (max-width: 767px) {

    .useful_wrapper > :first-child {
        display: none;
    }

    .swiper-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: block;
    }
    
    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px; /* Можно указать фиксированную ширину для слайдов */
    }
    
    .useful_item {
        width: 100%;
        height: auto;
    }

    .cards-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 12px;
    }

    .useful {
        margin-top: 150px;
    }

    .filters {
        display: none;
    }

    .filters_mob {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #462B74;
        padding: 16px 20px;
        border-radius: 12px;
        margin-bottom: 31px;
    }

    .filters_mob button  {
        background-color: transparent;
        border: none;
    }

    .filters_mob h5 {
        font-family: var(--second-family);
        font-weight: 500;
        font-size: 20px;
        color: #fff;
    }
}

@media screen and (max-width: 552px) {
    .recipes_filters {
        padding: 44px 20px 750px 20px;
    }
}

.popup {
    display: none; /* По умолчанию скрыто */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.popup.active {
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(70, 43, 116, 1);
    overflow-y: auto;
}

.popup-content {
    text-align: center;
}

#closePopup {
    margin-top: 10px;
}

@media screen and (max-width: 767px) {
    .popup-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 22px;
    }

    .popup-header h5 {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 26px;
        color: #fff;
    }

    .popup-content2 {
        background: #f0f0f0;
        border-radius: 12px;
        margin-bottom: 16px;
        padding: 16px;
    }

    .dropdown-content-mobile {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .dropdown-content-mobile label {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .dropdown-content-mobile label p {
        font-family: var(--second-family);
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        color: #462b74;
    }

    .dropdown-content-mobile label input {
        margin: 0;
    }

    .popup-content2 h6 {
        font-family: var(--second-family);
        font-weight: 500;
        font-size: 20px;
        color: #462b74;
        margin-bottom: 22px;
    }

    .popup-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #f0f0f0;
        position: sticky;
        bottom: 0;
        right: 0;
        left: 0;
        border-radius: 12px 12px 0 0;
        padding: 20px;
    }

    .popup-bottom > :first-child {
        display: flex;
        gap: 11px;
        border: 0;
        align-items: center;
    }

    .popup-bottom > :first-child { 
        font-family: var(--second-family);
        font-weight: 500;
        font-size: 14px;
        color: #8451da;
    }

    .popup-bottom > :last-child {
        display: flex;
        gap: 11px;
        border: 0;
    }

    .popup > :first-child {
        padding: 20px 20px 50px 20px;
    }
}

