@import url('/css/variables.css');



*, *::before, *::after {
	box-sizing: border-box;
}

@font-face {
    font-family: 'DINCondensed';
    src: url('/fonts/DINCondensed-Light.ttf') format('truetype'); /* Подключаем шрифт */
    font-weight: 400; /* Легкий вес */
    font-style: normal;
}

@font-face {
    font-family: 'DINCondensed';
    src: url('/fonts/DINCondensed-Regular.ttf') format('truetype'); /* Подключаем шрифт */
    font-weight: 700; /* Нормальный вес */
    font-style: normal;
}

@font-face {
    font-family: 'Effra';
    src: url('/fonts/Effra-Medium.ttf') format('truetype');
    font-weight: 500; /* Вес Medium */
    font-style: normal;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
    scroll-behavior: smooth;
  }

body {
	line-height: 1;
	font-family: var(--second-family);
	position: relative;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrapper {
    max-width: 1180px;
    margin: 0 auto;
}

.wrapper2 {
    max-width: 1580px;
    margin: 0 auto;
}

.wrapper3 {
    max-width: 1260px;
    margin: 0 auto;
}

a:visited {
    text-decoration: none; /* Убирает подчёркивание, если оно есть */
  }

.pink-button {
    font-weight: 400;
    font-size: 24px;
    line-height: 110%;
    text-align: center;
    color: var(--color-white);
    border: 4px solid var(--color-pink);
    border-radius: 12px;
    padding: 13px 33px;
    background: var(--color-pink);
    font-family: var(--third-family);
    text-decoration: none;
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.pink-button:hover {
    animation: bounce 0.3s;
    background: transparent;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.closeAll {
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    padding: 10px;
}

button {
    cursor: pointer;
}

.breadcrumb {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    margin-bottom: 21px;
  }
  
  .breadcrumb-item + .breadcrumb-item::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('/images/bread.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 8px;
    margin-bottom: -3px;
  }
  
  .breadcrumb-item a, .breadcrumb .active {
    color: #FFF;
    font-family: var(--third-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 15.4px */
    text-decoration: none;
  }


  .hero_recipes_wrapper video {
    width: 100%;
    max-height: 534px;
    object-fit: cover;
    border-radius: 20px;
}

.hero_recipes .play-pause-btn {
    position: absolute;
    top: 55%;
    z-index: 5;
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.play-pause-btn-container {
    display: flex;
    justify-content: center;
}

#background-video:hover + .play-pause-btn-container .play-pause-btn img {
    display: block;
}

.blog-video-wrapper {
    position: relative; /* Устанавливаем относительное позиционирование для родителя */
}

.play-pause-btn-container {
    position: absolute; /* Абсолютное позиционирование внутри родителя */
    top: 50%; /* Центрируем по вертикали */
    left: 50%; /* Центрируем по горизонтали */
    transform: translate(-50%, -50%); /* Смещаем элемент на 50% от его размеров для точного центрирования */
}

.play-pause-btn {
    background-color: transparent;
    border: none;
}

