:root {
    --font-family: "DINCondensed", sans-serif;
    --second-family: "DINCondensed", sans-serif;
    --third-family: "DINCondensed", sans-serif;
    --four-family: "Effra", sans-serif;

    --color-white: #fff;
    --color-purple-dark: #462b74;
    --color-purple-light: #8885d7;
    --color-purple-super-light: #E0DFFF;
    --color-pink: rgba(234, 82, 111, 1);

  }